$sb-easing: ease-out !default;
$sb-duration: 0.25s !default;
$sb-delay: 0 !default;

$sb-position-type: fixed !default;
$sb-placing: "left";
$sb-align-factor: 0;

$sb-menu-padding: 1.5rem;
$sb-menu-x-padding: 6rem;
$sb-menu-item-gap: 1.4em;
